flask
flask-cors
numpy
polars==0.17.12
pandas==2.1.2
tqdm
python-dotenv
pyarrow
PyJWT
requests
apscheduler
python-dateutil
XlsxWriter
deepdiff
psycopg2-binary
Flask-SQLAlchemy
Flask-Migrate
xlsx2csv
pika
